
body {
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;
}
.padre{
    height: 50em;
    width: 95em;

    margin: 0;
    padding: 0;
}
.encabezado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: aqua;
    height: 4em;
}
.cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: palegreen;
    height: 40em;
}
.espana {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding-left: 2em;
    height: 3em;
    background-color: rgb(229, 226, 226);
}
.pie {
    display: flex;
    flex-direction: row;
  
    height: 3em;
    background-color: rgb(229, 226, 226);
    border-top: grey;
    border-style: solid;
    border-width: 0.1em;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
}
.espacio {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44em;
}
.publi {
    display: flex;
    justify-content: center;
    align-items: center;

   padding-left: 1em;
   width: 7em;
}
.empresa {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    width: 7em;
}
.config {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 1em;
    width: 7em;
}
.term {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 7em;
}
.priv {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 7em;
}
.como {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 16em;
}
img {
    height: 1em;
}